<ion-list class="mod-list">
  <div class="no-mods" [ngClass]="{'hidden' : this.modList.length !== 0}">
    <ion-icon name="bonfire"></ion-icon>
  </div>
  <div class="mod" *ngFor='let mod of this.modList.toArray();'>
    <div class='img-container'>
      <img (click)="this.openGallery(mod.data)" *ngIf='mod.data.thumbs.length > 0; else question' src="{{mod.data.thumbs[0]}}" alt="">
      <ng-template #question>
        <div class="question">
          <ion-icon name="help"></ion-icon>
        </div>
      </ng-template>
    </div>
    <div class="mod-main">
      <div class="mod-header">
        <h3>
          <a href="{{mod.data.url}}">{{mod.data.name}}</a>
        </h3>
        <span>MOD FILES: {{mod.data.archivePaths.length}}</span>
      </div>
      <div class='mod-info'>
        <p>
          {{mod.data.description}}
        </p>
        <ul>
          <li>
            Author <a href="{{mod.data.authorLink}}">{{mod.data.authorName}}</a>
          </li>
          <li>
            Published: <span>{{mod.data.publishDate}}</span>
          </li>
          <li>
            Updated: <span>{{mod.data.updateDate}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mod-functions ripple" id="expand-{{mod.index}}" (click)="this.toggleChildExpand($event, mod.index, 'expand-')">
      <ul>
        <li>
          <button>
            <ion-icon class="black" name="arrow-dropup"></ion-icon>
          </button>
        </li>
        <li>
          <button>
            <ion-icon class="add" name="more"></ion-icon>
          </button>
        </li>
        <li>
          <button>
            <ion-icon class="black" name="arrow-dropdown"></ion-icon>
          </button>
        </li>
      </ul>
    </div>
    
    <!--
    <div class="mod-child" [ngClass]="{'hidden-child': !getExpandToggle(mod)}" *ngFor="let modChild of mod.data.archiveNames; let indexes = getIndexes(mod, index);">
      <span class="mod-child-content">
        <button class="mod-func trash short ripple" id="lo-trash-{{indexes[0]}}{{indexes[1]}}" (click)="this.addToLoadOrder($event, indexes[0], 'lo-trash-', indexes[0], indexes[1])">
          <ion-icon class="subtract" name="trash"></ion-icon>
          <ion-icon name="trash"></ion-icon>
        </button>
        <button class="mod-func dark ripple" id="lo-contents-{{indexes[0]}}{{indexes[1]}}" (click)="this.addToLoadOrder($event, indexes[0], 'lo-contents-', modIndex, indexOfChild)">
            <ion-icon class="subtract" name="open"></ion-icon>
          <ion-icon name="open"></ion-icon>
          <span>Contents</span>
        </button>
        <button
          class="mod-func ripple"
          id="lo-add-{{modIndex}}{{indexOfChild}}"
          (click)="this.addToLoadOrder($event, indexes[0], 'lo-add-', indexes[0], indexes[1])"
          *ngIf="this.getEnabled(indexes[0], indexes[1]) === false; else removeFromLoadOrder"
        >
          <ion-icon class="subtract" name="add"></ion-icon>
          <ion-icon name="add"></ion-icon>
          <span>Install</span>
        </button>
        <ng-template #removeFromLoadOrder>
          <button class="mod-func trash ripple" id="lo-add-{{indexes[0]}}{{indexes[1]}}" (click)="this.uninstallMod($event, 'lo-add-', indexes[0], indexes[1])">
            <ion-icon class="subtract" name="remove"></ion-icon>
            <ion-icon name="remove"></ion-icon>
            <span>Uninstall</span>
          </button>
        </ng-template>
        <span class="mod-child-title">{{this.parseModChildTitle(modChild)}}</span>
      </span>
    </div>
    -->
  </div>
</ion-list>