<ion-tabs tabbarLayout="icon-end">
  <ion-tab label="MANAGER" icon="bonfire" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="TOOLS" icon="hammer" href="/tabs/(tools:tools)">
    <ion-router-outlet name="tools"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="ABOUT" icon="information-circle-outline" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
<app-pop-gallery></app-pop-gallery>