<ion-content>
  <div class="title-bar">
    Testing
    <button>
      <ion-icon name="close" (click)='this.closeWindow()'></ion-icon>
    </button>
    <button>
      <ion-icon name="remove" (click)='this.minimizeWindow()'></ion-icon>
    </button>
  </div>
  <div (click)="this.closeGallery($event)" class="gallery-container" [ngClass]="{'gallery-hidden': this.isGalleryOpen() === false}">
    <div class="gallery" *ngIf="this.galleryContent !== null">
      <h2>
        {{this.galleryContent.name}}
        <span>
        <h3>
            {{this.galleryContent.authorName}}
          </h3>
        </span>
      </h2>
      <img (click)="this.incrementGallery($event)" src="{{this.galleryContent.pictures[this.galleryContentIndex]}}" alt="?">
      <h4>{{(this.galleryContentIndex + 1) + ' / ' + this.galleryContent.pictures.length}}</h4>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="block"></div>
      <button id="play-button" #playButton class="btn btn-play ripple" (click)="this.play($event)">
        MONSTER HUNTER: WORLD
        <ion-icon name="play"></ion-icon>
      </button>
      <div class="content-functions">
        <button id='open-dir' #openMhwDirButton class="btn ripple" (click)='openMhwDir($event)'>OPEN GAME FOLDER</button>
        <button id='open-nexus' #openNexusButton class="btn ripple" (click)='this.openModNexus($event)'>MOD NEXUS</button>
      </div>
      <div class='mod-manager-header'>
        <h2>
          MOD MANAGER
        </h2>
        <div class="mod-manager-tabs">
          <h3 id="load-order-tab" class="ripple"
            [ngClass]="{'active': this.currentManagerTab === 'LOAD_ORDER', 'blink': this.loadOrderBlink}"
            (click)="this.setTab($event, 'load-order-tab', 'LOAD_ORDER')"
          >
            LOAD ORDER
          </h3>
          <h3 id="mod-list-tab" class="ripple"
            [ngClass]="{'active': this.currentManagerTab === 'MOD_LIST'}" 
            (click)="this.setTab($event, 'mod-list-tab', 'MOD_LIST')"
          >
            MOD LIST
          </h3>
          <h3 id="catagories-tab" class="ripple"
            [ngClass]="{'active': this.currentManagerTab === 'CATAGORIES'}" 
            (click)="this.setTab($event,'catagories-tab' ,'CATAGORIES')"
          >
            CATAGORIES
          </h3>
        </div>
      </div>
      <ion-list [ngClass]="{
        'load-order-list': this.currentManagerTab === 'LOAD_ORDER',
        'mod-list': this.currentManagerTab === 'MOD_LIST',
        'catagories-list': this.currentManagerTab === 'CATAGORIES'
      }">
        <div *ngIf="this.currentManagerTab === 'LOAD_ORDER'; then loadOrderTemplate"></div>
        <div *ngIf="this.currentManagerTab === 'MOD_LIST'; then modListTemplate"></div>
        <div *ngIf="this.currentManagerTab === 'CATAGORIES'; then catagoriesTemplate"></div>
      </ion-list>
      <div class="que downloads">
        <h1>Downloads</h1>
        <ol *ngIf="this.downloadManagerItems !== null">
          <li *ngFor="let item of this.downloadManagerItems">
            {{item.fileName}} {{item.progress.toFixed(2)}}%
            <button *ngIf="item.complete">Complete</button>
          </li>
        </ol>
      </div>
      <div class="que downloads">
        <h1>Processing</h1>
        <ol *ngIf="this.processingQue.length !== 0">
          <li *ngFor="let item of this.processingQue">
            {{item.name}} {{item.progress}}%
            <button *ngIf="item.complete">Complete</button>
          </li>
        </ol>
      </div>
      <div class="que downloads">
        <h1>Installation</h1>
        <ol *ngIf="this.installationQue.length !== 0">
          <li *ngFor="let item of this.installationQue">
              {{item.name}} {{item.progress}}%
            <button *ngIf="item.complete">Complete</button>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="spotlight"></div>
</ion-content>

<ng-template #modListTemplate>
  <div class="no-mods" [ngClass]="{'hidden' : this.modList.length !== 0}">
    <ion-icon name="bonfire"></ion-icon>
  </div>
  <div class="mod" *ngFor='let mod of this.modList; let indexOfMod = index;'>
    <div class='img-container'>
      <img (click)="this.openGallery(mod)" *ngIf='mod.thumbs.length > 0; else question' src="{{mod.thumbs[0]}}" alt="">
      <ng-template #question>
        <div class="question">
          <ion-icon name="help"></ion-icon>
        </div>
      </ng-template>
    </div>
    <div class="mod-main">
      <div class="mod-header">
        <h3>
          <a href="{{mod.url}}">{{mod.name}}</a>
        </h3>
        <span>MOD FILES: {{mod.archivePaths.length}}</span>
      </div>
      <div class='mod-info'>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium doloribus dolorum aspernatur
          cupiditate odit minima voluptatem praesentium! Rem laborum amet aspernatur accusantium voluptas maiores
          eveniet, quibusdam sit eum laudantium aut labore sapiente dolores perspiciatis quaerat deleniti
          dignissimos omnis velit sed rerum a numquam. Sequi, consequatur eaque labore iure recusandae
          consequuntur aut! Quas temporibus neque quis eum? Sequi quaerat dolorem alias mollitia, beatae ipsa
          magnam dolore accusantium in quasi consequuntur quos aspernatur odit corporis est minima quis autem ex
          veritatis illum incidunt laboriosam perferendis magni? Ullam nulla non libero labore distinctio,
          aspernatur accusantium debitis, autem nesciunt repellat officiis, necessitatibus fugit ipsam!
        </p>
        <ul>
          <li>
            Author <a href="{{mod.authorLink}}">{{mod.authorName}}</a>
          </li>
          <li>
            Published: <span>{{mod.publishDate}}</span>
          </li>
          <li>
            Updated: <span>{{mod.updateDate}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mod-functions ripple" id="expand-{{indexOfMod}}" (click)="this.toggleChildExpand($event, indexOfMod, 'expand-')">
      <ul>
        <li>
          <button>
            <ion-icon class="black" name="arrow-dropup"></ion-icon>
          </button>
        </li>
        <li>
          <button>
            <ion-icon class="add" name="more"></ion-icon>
          </button>
        </li>
        <li>
          <button>
            <ion-icon class="black" name="arrow-dropdown"></ion-icon>
          </button>
        </li>
      </ul>
    </div>
    <div class="mod-child" [ngClass]="{'hidden-child': !getExpandToggle(indexOfMod)}" *ngFor="let modChild of mod.archiveNames; let indexOfChild = index;">
      <span class="mod-child-content">
        <button class="mod-func trash ripple" id="lo-trash-{{indexOfMod}}{{indexOfChild}}" (click)="this.addToLoadOrder($event, [indexOfMod, indexOfChild], 'lo-trash-', indexOfMod, indexOfChild)">
          <ion-icon class="subtract" name="trash"></ion-icon>
          <ion-icon name="trash"></ion-icon>
        </button>
        <button class="mod-func dark ripple" id="lo-contents-{{indexOfMod}}{{indexOfChild}}" (click)="this.addToLoadOrder($event, [indexOfMod, indexOfChild], 'lo-contents-', indexOfMod, indexOfChild)">
            <ion-icon class="subtract" name="open"></ion-icon>
          <ion-icon name="open"></ion-icon>
          <span>Contents</span>
        </button>
        <button class="mod-func ripple" id="lo-add-{{indexOfMod}}{{indexOfChild}}" (click)="this.addToLoadOrder($event, [indexOfMod, indexOfChild], 'lo-add-', indexOfMod, indexOfChild)">
          <ion-icon class="subtract" name="add"></ion-icon>
          <ion-icon name="add"></ion-icon>
          <span>Load Order</span>
        </button>
        <span class="mod-child-title">{{this.parseModChildTitle(modChild)}}</span>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #loadOrderTemplate>  
  <div class="load-order-detail">
    <div class="load-order-image">
      <img src="{{this.getLoadOrderPicture()}}" alt="">
    </div>
    <div class="load-order-functions">
      <ul>
        <li>
          <button (click)="this.moveUpLoadOrder()">
            <ion-icon name="arrow-dropup"></ion-icon>
          </button>
        </li>
        <li>
          <button>
            <ion-icon class="remove" name="remove"></ion-icon>
          </button>
        </li>
        <li>
          <button (click)="this.moveDownLoadOrder()">
            <ion-icon name="arrow-dropdown"></ion-icon>
          </button>
        </li>
      </ul>
    </div>
    <div class="load-order-details">

    </div>
  </div>
  <div class="load-order-item">
    <div class="mod-load-item">
      <div class="position bottom">
        #
      </div>
      <div class="title bottom">
        TITLE
      </div>
      <div class="update bottom top">
        UPDATED
      </div>
      <div class="category bottom top">
        CATEGORY
      </div>
      <div class="status bottom top">
        STATUS
      </div>
    </div>
    <div 
      class="mod-load-item" 
      [ngClass]="{'active': position === this.activeLoadOrderIndex}" 
      *ngFor='let modIndex of this.loadOrder; let position = index'
      (click)='this.setLoadOrderItemIndex(position)'
    >
      <div class="position">
        {{position + 1}}
      </div>
      <div class="title">
        {{this.getAcronym(this.modList[modIndex[0]].name)}} - {{this.limitChar(this.modList[modIndex[0]].archiveNames[modIndex[1]])}}
      </div>
      <div class="update">
        {{this.modList[modIndex[0]].updateDate}}
      </div>
      <div class="category">
        {{"CATEGORY"}}
      </div>
      <div class="status">
        {{this.getStatus(this.modList[modIndex[0]].enabled[modIndex[1]])}}
      </div>
    </div>
  </div>
  
</ng-template>

<ng-template #catagoriesTemplate>
  <div class="no-mods" [ngClass]="{'hidden' : this.modList.length !== 0}">
    <ion-icon name="bonfire"></ion-icon>
  </div>
  <div class="mod" *ngFor='let mod of this.modList; let indexOfMod = index'>
    <div class='img-container'>
      <img *ngIf='mod.thumbs.length > 0; else question' src="{{mod.thumbs[0]}}" alt="">
      <ng-template #question>
        <div class="question">
          <ion-icon name="help"></ion-icon>
        </div>
      </ng-template>
    </div>
    <div class="mod-main">
      <div class="mod-header">
        <h3>
          <a href="{{mod.url}}">{{mod.name}}</a>
        </h3>
        <button>
          <ion-icon name="more"></ion-icon>
        </button>
      </div>
      <div class='mod-info'>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium doloribus dolorum aspernatur
          cupiditate odit minima voluptatem praesentium! Rem laborum amet aspernatur accusantium voluptas maiores
          eveniet, quibusdam sit eum laudantium aut labore sapiente dolores perspiciatis quaerat deleniti
          dignissimos omnis velit sed rerum a numquam. Sequi, consequatur eaque labore iure recusandae
          consequuntur aut! Quas temporibus neque quis eum? Sequi quaerat dolorem alias mollitia, beatae ipsa
          magnam dolore accusantium in quasi consequuntur quos aspernatur odit corporis est minima quis autem ex
          veritatis illum incidunt laboriosam perferendis magni? Ullam nulla non libero labore distinctio,
          aspernatur accusantium debitis, autem nesciunt repellat officiis, necessitatibus fugit ipsam!
        </p>
        <ul>
          <li>
            Author <a href="{{mod.authorLink}}">{{mod.authorName}}</a>
          </li>
          <li>
            Published: <span>{{mod.publishDate}}</span>
          </li>
          <li>
            Updated: <span>{{mod.updateDate}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mod-functions">
      <ul>
        <li>
          <button>
            <ion-icon name="arrow-dropup"></ion-icon>
          </button>
        </li>
        <li>
          <button>
            <ion-icon class="sm" name="trash"></ion-icon>
          </button>
        </li>
        <li>
          <button>
            <ion-icon name="arrow-dropdown"></ion-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</ng-template>