<ion-content>
  <app-ctrl-bar></app-ctrl-bar>
  <div class="container">
    <div class="content">
      <div class="block"></div>
      <button id="play-button" #playButton class="btn btn-play ripple" (click)="this.play($event)">
        MONSTER HUNTER: WORLD
        <ion-icon name="play"></ion-icon>
      </button>
      <div class="content-functions">
        <button id='open-dir' #openMhwDirButton class="btn ripple" (click)='openMhwDir($event)'>OPEN GAME FOLDER</button>
        <button id='open-nexus' #openNexusButton class="btn ripple" (click)='this.openModNexus($event)'>MOD NEXUS</button>
      </div>
      <app-mod-manager>
      </app-mod-manager>
      
      <div class="que downloads">
        <h1>Downloads</h1>
        <ol *ngIf="this.downloadManagerItems !== null">
          <li *ngFor="let item of this.downloadManagerItems">
            {{this.parseModChildTitle(item.fileName)}} {{item.progress.toFixed(2)}}%
            <button *ngIf="item.complete">Complete</button>
          </li>
        </ol>
      </div>
      <div class="que downloads">
        <h1>Processing</h1>
        <ol *ngIf="this.processingQue.length !== 0">
          <li *ngFor="let item of this.processingQue">
            {{this.parseModChildTitle(item.name)}} {{item.progress}}%
            <button *ngIf="item.complete">Complete</button>
          </li>
        </ol>
      </div>
      <div class="que downloads">
        <h1>Installation</h1>
        <ol *ngIf="this.installationQue.length !== 0">
          <li *ngFor="let item of this.installationQue">
              {{'Something'}}
            <button *ngIf="item.complete">Complete</button>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="no-game-dir" [ngClass]="{'hidden-explorer': this.ready !== false}">
    <img src="assets/Ripple.svg" alt="loading" [ngClass]="{'hidden-explorer': this.ready !== false && this.mhwDirectoryPath === null}">
    <div [ngClass]="{'hidden-explorer': this.mhwDirectoryPath !== null}">
      <h1>FIRST LOAD</h1>
      <h2>Please find your Monster Hunter World Directory...</h2>
      <button id="find-dir" class="ripple" #explorerButton (click)='this.getMhwDirPath($event)'>
        OPEN FILE EXPLORER
        <ion-icon name="folder"></ion-icon>
      </button>
    </div>
  </div>
  <div class="spotlight"></div>
</ion-content>